<div class="ekart-product-container">
  <app-search (searchTextChanged)="setSearchText($event)"></app-search>
  <app-product-list [searchText]="searchText" #ProductListComponent></app-product-list>
  <app-product-detail *ngIf="ProductListComponent.selectedProduct" [productListComp]="productListComponent"></app-product-detail>
  <!-- <div *ngFor="let item of listOfString">
    <p>Current Value of items: {{item}} </p>
  </div> -->
  <!-- <img src="{{ product.pImage }}"/>
  <p>name: {{ product.name }}</p>
  <br/>
  <p>price: ${{ product.price }}</p>
  <br/>
  <p>color: {{ product.color }}</p>
  <br/>
  <p>discount price: ${{ getDiscountedPrice() }}</p>
  <br/>
  <p>
    InStock:
    {{
      product.inStock > 0
        ? "Only" + " " + product.inStock + " " + "left"
        : "Item not in stock"
    }}
  </p>
  <br/>



  

  <button (click)="decrementCartValue()">-</button>
  <span>{{addToCart}}</span>
  <button (click)="incrementCartValue()">+</button> -->
  <!-- <button [disabled]="!(product.inStock > 0)">Buy Now</button> <br /> -->
   <!-- <input (input)="onNameChange($event)" />
  <p>name: {{ name }}</p> -->

</div>

<!-- Hidden, disabled and checked cannot work for string interpolation

    Cannot bind attribute e.g aria-label, hidden,explanded, and control attributes
    And data-id, name, value,colspan
-->
